/* <-- RESET --> */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* <-- VARIABLES --> */
:root {
    /* CSS HEX */
    --frosted-mint: #d6f8d6ff;
    --muted-teal: #7fc6a4ff;
    --blue-slate: #5d737eff;
    --charcoal: rgb(46, 43, 49);
    --canary-yellow: #faf33eff;

    /* Paleta de colores */
    --color-text: var(--charcoal);
    --color-bg: var(--frosted-mint);
    --color-accent: var(--charcoal);

    --color-text-dark: var(--frosted-mint);
    --color-bg-dark: var(--charcoal);
    --color-accent-dark: var(--canary-yellow);

    /* Fuentes*/
    --font-primary:
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-title: 'Arial Black', 'Arial Bold', Gadget, sans-serif;

    /* Escala*/
    --scala: 1.2;
    --base: 1rem;

    --size-x-large: calc(var(--size-large) * var(--scala));
    --size-large: calc(var(--size-medium) * var(--scala));
    --size-medium: calc(var(--size-normal) * var(--scala));
    --size-normal: var(--base);
    --size-small: calc(var(--size-normal) / var(--scala));
    --size-x-small: calc(var(--size-small) / var(--scala));
}

/* <-- BASE --> */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* <-- STYLES --> */

/* toggle */
/* From Uiverse.io by guilhermeyohan */
.checkbox-apple {
    position: relative;
    width: 50px;
    height: 25px;
    margin: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.checkbox-apple input[type='checkbox']:checked + label {
    background: linear-gradient(to bottom, #4cd964, #5de24e);
}

.checkbox-apple input[type='checkbox']:checked + label:after {
    transform: translateX(25px);
}

.checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
}

/* dialog */

dialog {
    width: 50vh;
    height: 100vh;
    border: none;
    background-color: var(--muted-teal);
    padding: 1rem;
    menu {
        margin-block: 1rem;
    }
}
